/* Programmer: Aditya Kumar
Project: QuickFeed
For: course-page.html
This is the css file that includes the
styling for the course-page used by the
instructors.
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

* {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* This makes scroll bar invisible */
::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Particle Background */
#particles-js {
  position: absolute;
  top: 15vh;
  height: 160vh;
  width: 100vw;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 15vh;
  background-color: #564787;
}

#logo {
  display: inline;
  float: left;
  padding-top: 1vh;
  padding-left: 4vh;
  font-weight: 800;
  font-size: 10vh;
  color: white;
}

#nav-bar {
  display: inline;
  float: right;
  padding-top: 5vh;
  padding-right: 1vw;
  font-weight: 600;
}

.nav-items {
  display: inline;
  position: relative;
  font-size: 3vh;
  margin: 2vw;
  color: white;
}

.nav-items:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-items:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  position: absolute;
  top: 20vh;
}

main h1 {
  position: relative;
  top: -2vh;
  left: 2vw;
  font-size: 8vh;
}

main h6 {
  position: relative;
  top: -2vh;
  left: 2.2vw;
  font-size: 3vh;
}

/* General styling for the buttons */
#switch {
  display: inline;
  position: relative;
  left: 80vw;
  top: -12vh;
}

/* Copy buttons */
#copy-button{
  position: absolute;
  left: -20vw;
  background-color: white;
  font-size: 3vh;
  font-weight: 600;
  padding-top: 2.5vh;
  padding-bottom: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
  border: 0.25vh dashed black;
}


#copy-button:hover {
  background-color: #eeeeee;
}

/* Class on-off switch */
#on-off {
  position: absolute;
  right: -19vw;
  background-color: white;
  font-size: 3vh;
  font-weight: 600;
  padding-top: 2.5vh;
  padding-bottom: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
  border: 0.25vh solid black;
  border-radius: 2vw;
}

#on-off:hover {
  background-color: #eeeeee;
}

/* Daily feedback */
#key-feedback{
  display: inline-block;
  position: absolute;
  top: 40vh;
  left: 2.2vw;
  width: 50vw;
  height: 57vh;
  background-color: #9BB1FF;
  border-radius: 0.5vh;
}

#key-feedback h1{
  position: absolute;
  top: 2vh;
  margin-left: 13.25vw;
}

#key-feedback h3{
  position: absolute;
  top: 10vh;
  margin-left: 2vw;
  font-weight: 600;
}

/* Student list */
#student-list{
  display: inline-block;
  position: absolute;
  top: 40vh;
  left: 62.2vw;
  width: 30vw;
  height: 57vh;
  background-color: #eeeeee;
  border-radius: 0.5vh;
  overflow-y: scroll;
}

#student-list h1{
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 10vw;
  padding-right: 8.15vw;
  background-color: #EEA59A;
  border-top-left-radius: 0.5vh;
  border-top-right-radius: 0.5vh;
}

/* Entire semester feedback */
.end-sem-feedback{
  display: inline-block;
  position: absolute;
  top: 100vh;
  margin-top: 3vh;
  margin-left: 2.2vw;
  width: 90.2vw;
  background: #F2FDFF;
  height: 70vh;
  border-radius: 0.5vh;
}

.end-sem-feedback h1{
  position: relative;
  text-align: center;
  top: 2vh;
}

.student-name {
  padding-left: 2vw;
  padding-top: 2vw;
  font-size: x-large;
}
