/* Programmer: Aditya Kumar
Project: QuickFeed
For: index.html
This is the css file that includes the
styling for the main homepage that is used
by all of the users, and is the first page
that any user sees
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

* {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
/* invisible scroll bar */
::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}
/* nav bar + logo */
header {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 15vh;
  background-color: #564787;
}

#logo {
  display: inline;
  float: left;
  padding-top: 1vh;
  padding-left: 4vh;
  font-weight: 800;
  font-size: 10vh;
  color: white;
}

#nav-bar {
  display: inline;
  float: right;
  padding-top: 5vh;
  padding-right: 1vw;
  font-weight: 600;
}

.nav-items {
  display: inline;
  position: relative;
  font-size: 3vh;
  margin: 2vw;
  color: white;
}

/* for animation */
.nav-items:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-items:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* main section with the box */
main {
  display: block;
  position: absolute;
  top: 15vh;
  height: 85vh;
  width: 100vw;
  background-image: url("../img/class.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

/* Signup and login  */
#intro-tile {
  display: block;
  margin-top: 7vh;
  margin-left: auto;
  margin-right: auto;
  width: 32vw;
  height: 70vh;
  padding: 0 3vh;
  border-radius: 4vh;
  background-color: white;
  text-align: center;
}

#box-heading {
  padding-top: 4vh;
  padding-bottom: 2vh;
  font-weight: 750;
  font-size: 7vh;
}

#box-body {
  font-weight: 500;
  font-size: 1.5vw;
  padding-bottom: 2vh;
}

/* buttons */
.intro-button {
  background-color: #E26D5C;
  color: white;
  font-size: 3vh;
  font-weight: 600;
  padding-top: 2.5vh;
  border-style: none;
  padding-bottom: 3vh;
  margin: 2vh;
  padding-left: 5.5vw;
  padding-right: 5.5vw;
  border-radius: 2vw;
}

/* little background change on hover */
.intro-button:hover {
  background-color: black;
}

#about-us {
  position: absolute;
  top: 100vh;
  padding: 3vh 0vh;
  background-color: #F2FDFF;
  width: 100vw;
  height: 50vh;
  text-align: center;
}

#about-us-heading {
  padding-top: 3vh;
  padding-bottom: 1vh;
  font-size: 10vh;
  font-weight: 650;
}

.about-us-body {
  font-size: 4vh;
  font-weight: 400;
  margin-bottom: 1vh;
}

.developer-tile {
  position: absolute;
  top: 155vh;
  width: 100vw;
  height: 55vh;
  background-color: #9AD4D6;
  color: black;
  text-align: center;
  list-style: none;
}

#dev-heading {
  font-size: 7vh;
  font-weight: 700
}

.empty-tile {
  display: inline-block;
  margin-top: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
  height: 35vh;
  width: 35vh;
  background-color: black;
  border-radius: 35vh;
}

#contact {
  position: absolute;
  top: 210vh;
  width: 100vw;
  height: 75vh;
  background-color: #101935;
}

#contact-heading {
  color: white;
  font-size: 7vh;
  font-weight: 700;
  text-align: center;
  padding-top: 3vh;
}

.contact-det {
  display: block;
  font-size: 2.75vh;
  font-weight: 500;
  margin-left: 4vh;
  margin-top: 3vh;
  padding: 2vh;
  border-radius: 2vh;
  resize: none;
}
/* send button */
#send {
  font-size: 3vh;
  font-weight: 600;
  padding-top: 2.5vh;
  border-style: none;
  padding-bottom: 3vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  padding-left: 3vw;
  padding-right: 3.5vw;
  border-radius: 2vw;
}

#send:hover {
  color: white;
  background-color: black;
}
