@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

/*Might need to make a popup for course page*/
* {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
  overflow-x: hidden;
  overflow-y:scroll;
}

#particles-js {
  position: absolute;
  top: 20vh;
  height: 95vh;
  width: 100vw;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 15vh;
  background-color: #564787;
}

#logo {
  display: inline;
  float: left;
  padding-top: 1vh;
  padding-left: 4vh;
  font-weight: 800;
  font-size: 10vh;
  color: white;
}

#nav-bar {
  display: inline;
  float: right;
  padding-top: 5vh;
  padding-right: 1vw;
  font-weight: 600;
}

.nav-items {
  display: inline;
  position: relative;
  font-size: 3vh;
  margin: 2vw;
  color: white;
}

.nav-items:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-items:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#add-course{
  position: absolute;
  background-color:#eeeeee;
  top: 21vh;
  left: 5vw;
  width: 90vw;
  height: 88vh;
  margin-bottom: 5vh;
  border-radius: 2vh;
}

h1{
  font-size: 7.5vh;
}

#add-course h1{
  padding-top: 5vh;
  text-align: center;
}

label, input, textarea, button {
  display: block;
  position: relative;
  resize: none;
  margin-left: 4vh;
  font-size: 3.5vh;
}

#form-section {
  float: left;
  margin-left: 4vh;
  margin-top: 5vh;
  width: 50%;
  height: 60%;
  border-right: 0.1vh solid black;
}

#form-section label{
  margin-top: 2vh;
  margin-bottom: 0.5vh;
  font-weight: 500;
}
#form-section textarea, #form-section input{
  padding: 1.5vh;
  padding-left: 1.5vh;
  font-size: 2.5vh;
  border-radius: 1vh;
  border: 0.15vh solid black;
}

button {
  background-color: #dddddd;
  color: black;
  font-size: 3vh;
  font-weight: 600;
  padding-top: 2.5vh;
  border-style: none;
  padding-bottom: 3vh;
  padding-left: 5.5vw;
  padding-right: 5.5vw;
  margin-left: 8vw;
  margin-top: 4vh;
  border-radius: 2vw;
}
button:hover {
  background-color: black;
  color: white;
}

#link-section {
  text-align: center;
  float: right;
  padding: 2vh;
  width: 40%;
  padding-top: 10vh;
  padding-right: 5vw;
}

#link-section h2{
  font-size: 5vh;
  font-weight: 550;
}
#link-section h3{
  font-size: 3vh;
  font-weight: 400;
  padding-bottom: 2vh;
}

#link{
  position: absolute;
  left: 50vw;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2vh;
  background-color: white;
  height: 4vh;
  width: 42%;
  border-radius: 3vh;
}
