@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

* {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

#particles-js {
  position: absolute;
  top: 15vh;
  height: 85vh;
  width: 100vw;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 15vh;
  background-color: #564787;
}

#logo {
  display: inline;
  float: left;
  padding-top: 1vh;
  padding-left: 4vh;
  font-weight: 800;
  font-size: 10vh;
  color: white;
}

#nav-bar {
  display: inline;
  float: right;
  padding-top: 5vh;
  padding-right: 1vw;
  font-weight: 600;
}

.nav-items {
  display: inline;
  position: relative;
  font-size: 3vh;
  margin: 2vw;
  color: white;
}

.nav-items:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-items:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  position: absolute;
  top: 20vh;
  width: 100vw;
}

main h1 {
  position: relative;
  top: -2vh;
  left: 2vw;
  font-size: 8vh;
}

main h6 {
  position: relative;
  top: -2vh;
  left: 2.2vw;
  font-size: 3vh;
}

#course-status h1 {
  text-align: center;
  font-size: 4vh;
  font-weight: 500;
}

.pulsate {
  color: red;
  font-weight: 550;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.5;
  }
}

.option{
  display: inline-block;
  height: 50vh;
  width: 22vw;
  margin: 2.75vh;
  margin-top: 3.5vh;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 2vh;
  /* box-shadow: 1px 1px 15px black; */
}

.option:hover{
  background-color: #eeeeee;
}

.option h3{
  font-size: 4vh;
  padding: 2vh;
  background-color: #FFB563;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
}

.option h4{
  margin-top: 14vh;
  font-weight:450;
}
